body {
    background-color: lightgray;
    font-family: Verdana, sans-serif; 
}
 
h1,
h2 {
    text-align: center;
    color: rgb(44, 4, 95);
    font-weight: 800;
}

.container {
	margin: 20px 0;
    max-width: 50%;
    margin: 20px auto;
}

.container:hover {
   cursor: pointer;
}

.accord-info {  
    display: none; 
    box-sizing: border-box;
    background-color: #BFE2FF;	
	font-size: 16px;
}

.container label {
	width: 100%; 
	display: block;
    box-sizing: border-box;
	padding: 15px 20px;
	background-color: #517594;	   
	font-size: 18px;
    color: #fff;
	font-weight: 300;
}

.check-box {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.check-box:checked + .accord-info {
    display: block;
}