body {
    background-color: lightgray;
    font-family: Verdana, sans-serif;
}

h1,
h2 {
    text-align: center;
    color: rgb(44, 4, 95);
    font-weight: 800;
}

.container {
    max-width: 50%;
    margin: 20px auto;
}

.container:hover {
    cursor: pointer;
}

.accord-info {
    min-height: 380px;
    display: none;
    box-sizing: border-box;
    background-color: #d7dee2;
    font-size: 16px;
    text-align: center; 
}

  .accord-info img {
    max-width: 100%;
    min-height: 90%;
    margin: 2% auto;  
  }

.container label {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: #517594;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.check-box {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.check-box:checked+.accord-info {
    display: block;
}

.check-box:checked+.accord-info>img {
    width: 45%;
    transition: width 0.5s ease-in-out;
}

.check-box:checked+.accord-info>img:hover {
    width: 47%;
}

.accordion-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;
}


